.gcloudignore
# If you would like to upload your .git directory, .gitignore file or
# files from your .gitignore file, remove the corresponding line below:
# https://stackoverflow.com/questions/60393277/gcloud-functions-deploy-fails-with-cloudignore-file does not work
.git
.gitignore
archive/
*.sh
*.env
*.env.yaml

